
/* --- Header --- */
.main-nav{
    margin-left: 50px;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  /* height: 45px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.header-left, .header-right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0px;
}
.header-right {
  justify-content: flex-end;
  
}
.header-right-children{
    display: contents;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  margin-left: 50px;
  color: #c00;
}

.main-nav a {
  text-decoration: none;
  color: #333;
  padding: 8px 10px;
}
.main-nav a:hover {
  background-color: #f0f2f5;
  color: #333;
  padding: 12px 12px;
}

.btn-primary:hover {
  /* background-color: #0056b3;  */
  background-color: #06b6d4;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.phone-number {
  font-weight: bold;
  color: #c00;
}

/* ---icon resontable---*/
.food-icons {
  display: none;
  gap: 15px; /* Khoảng cách giữa các icon */
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.food-icon {
    background: #fff3e0;
    border-radius: 50%;
    padding: 0px 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    cursor: pointer;
}

.food-icon i {
  font-size: 24px;
  color: #ff6f00; /* Màu cam đậm */
}

.food-show-menu{
    display: none;
    background: #fff3e0;
    padding: 0px 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.food-show-menu i {
  font-size: 24px;
  color: #ff6f00; 
}

.food-icon:hover {
  background: #ffe0b2;
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

/* ---end icon resontable---*/





/* List menu icon resontable  */


.list-menu .menu-list {
border-top-right-radius: 27px;
  border-bottom-left-radius: 78%;
  line-height: 50px;
  margin: 0px;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  padding: 47px 5px 100px 48px;
  background: rgb(255 211 144);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
 
}
.list-menu .menu-list li {
  text-align: center;
  
}
.list-menu .menu-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.list-menu .menu-list li a:hover {
  color: #ff9800;
}
.list-menu .close-menu {
  background-color: aliceblue;
  z-index: 1000;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 16px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}
.list-menu {
  opacity: 0;
  visibility: hidden;
  transform: rotateY(90deg);
  transform-origin: right center;
  transition: transform 0.6s ease, opacity 0.6s ease, visibility 0.6s;
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  background: rgb(237, 106, 106);
  padding: 47px 5px 100px 48px;
  z-index: 100;
  flex-direction: column;
  pointer-events: none;
  border-bottom-left-radius: 78%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  backface-visibility: hidden; 
}

.list-menu.active {
  opacity: 1;
  visibility: visible;
  transform: rotateY(0deg);
  pointer-events: auto;
}

.app-header .header-left .main-nav .dropdown-menu a {
    padding: 10px 13px;
}







@media screen and (max-width: 1199px) {


  .header-right-children {
    display: none; /* Hide right section on smaller screens */
  }

  .header-left {
       margin-left: 0;
       gap: 0;
    } 
  .logo{
    margin-left: 0;
  }
  .food-icons{
    display: flex; 
  }
  .app-body .main-content{
   
    margin: 0;
    left: 0;

  }
  
}
@media screen and (max-width: 992px) {
  .main-nav {
    display: none; 
  }
  .food-show-menu {
    display: flex; /* Show the menu icon on smaller screens */
  }


}


/* ----------------------------End Header ------------------------------------------ */
