/* --- General & Body Setup --- */
body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: #f0f2f5; /* A light grey background like Facebook */
}

.app-container {
  display: flex;
  flex-direction: column;
  
}

.app-body {
  margin-top: 50px;
  display: flex;
  flex-grow: 1; 
  /* padding-top: 20px; */
}





