
/* ---------------------------- Left Sidebar ------------------------------------------- */
.left-sidebar {
  flex: 0 0 15%; /* Does not grow, does not shrink, base width 220px */
  padding: 20px 0px 0px 10px;
  position: fixed;
  margin-top: -7px;
  height: 100vh;
  background: #f8f9fa;
  border-right: 1px solid #ddd;
  overflow-y: auto;

}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
}

.avatar-placeholder {
  width: 40px;
  height: 40px;
  /* background-color: #ccc; */
  border-radius: 50%;
  /* border: 1px solid #aaa; */
}

.sidebar-nav a {
  display: flex;          
  align-items: center;    
  gap: 8px;               
  text-decoration: none;  
  color: inherit;  
  padding: 3px 0;
  border-radius: 6px;
  font-weight: 500;
}
.sidebar-nav a.active {
  background-color: #e7f3ff;
  color: #1877f2;
}


.sidebar-nav a:hover i{

  border-color: rgb(142, 181, 240); 

  transform: translateY(-5px);
 
  transition: all 0.3s ease;
}
.sidebar-nav a i {
  transition: all 0.3s ease;
}

/* ---menu left side */

/* icon */

.food-icon-sidebar-left{
      font-size: 20px;
      color: #ff6f00;

}


/* ----icon notification on cart----*/

/* --- CSS CHO CỤM ICON --- */
.icon-container {
    position: relative; /* Rất quan trọng! Dùng làm gốc để định vị icon chuông */
    display: inline-block;
}
 


/* Icon chuông (đè lên) */
.overlay-icon {      /* Điều chỉnh vị trí của chuông theo trục X */
    font-size: 25px;   
    color: red;       
    /* Áp dụng hiệu ứng lắc lư */
    animation: bell-shake 0.7s infinite;
}
.overlay-count{
  position: absolute;
  top: 3px; /* Điều chỉnh vị trí của số thông báo */
  left: 8px; /* Điều chỉnh vị trí của số thông báo */
  color: rgb(255, 255, 255);
  font-size: 20px;

}
/* --- CSS CHO HIỆU ỨNG LẮC LƯ --- */
@keyframes bell-shake {
    0% { transform: rotate(0); }
    15% { transform: rotate(15deg); }
    30% { transform: rotate(-15deg); }
    45% { transform: rotate(10deg); }
    60% { transform: rotate(-10deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0); }
}

/* --------------------------------------end icon notification on cart------------------------*/
/* -----------------end menu left side ----------------*/



@media screen and (max-width: 1199px) {
  .left-sidebar {
   display: none;
  }

    
}

@media screen and (max-width: 768px) {
    .right-sidebar {
      display: none;
    }
      
  }
    

/* -----------------------------------Endl Left Sidebar------------------------------ */
