.carousel-item img.carousel-img-fit {
  width: 100%; /* Đảm bảo chiều rộng luôn lấp đầy */
  aspect-ratio: 16 / 9; /* Tỷ lệ khung hình mong muốn (ví dụ 16:9) */
  object-fit: cover;  /* Giữ tỷ lệ ảnh, cắt bớt phần thừa để lấp đầy khung */
  object-position: center; /* Căn ảnh vào giữa */
}
.slide-content{
  
    margin-top: 20px;
}
.carousel-inner{
    border-radius: 20px;
}

.slide-content p{
    color: aliceblue;
    font-size: 1rem;
}
.slide-content h5{
    color: aliceblue;
    font-size: 1.5rem;
}
.btn-silde:hover {
    letter-spacing: 5px;
     transition: letter-spacing 0.4s ease-in-out;
  /* Tăng khoảng cách giữa các chữ cái khi hover */
  letter-spacing: 3px;
}